[submodule "src/d/openssl"]
	path = src/d/openssl
	url = git://github.com/D-Programming-Deimos/openssl.git
[submodule "src/d/gl3n"]
	path = src/d/gl3n
	url = git://github.com/Dav1dde/gl3n.git
[submodule "src/d/glamour"]
	path = src/d/glamour
	url = git://github.com/Dav1dde/glamour.git
[submodule "src/d/derelict3"]
	path = src/d/derelict3
	url = git://github.com/aldacron/Derelict3.git
[submodule "src/c/glfw"]
	path = src/c/glfw
	url = git://github.com/elmindreda/glfw.git
[submodule "src/d/glfw"]
	path = src/d/glfw
	url = git://github.com/D-Programming-Deimos/glfw.git
[submodule "src/d/nbd"]
	path = src/d/nbd
	url = git://github.com/Dav1dde/nbd.git
[submodule "src/d/glwtf"]
	path = src/d/glwtf
	url = git://github.com/Dav1dde/glwtf.git
